<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>45375946394-9dpqejfsibpd5i9oqme148hnp079pper.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45375946394-9dpqejfsibpd5i9oqme148hnp079pper</string>
	<key>API_KEY</key>
	<string>AIzaSyDu7s82k9pTabftQVJF8qBU4gwNTL4kFhE</string>
	<key>GCM_SENDER_ID</key>
	<string>45375946394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cwt.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9672c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9672c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45375946394:ios:9ca6418a3d23e50f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9672c.firebaseio.com</string>
</dict>
</plist>
